* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  display: flex;
  /* max-width: 1280px; */
  height: 100vh;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  transition: background-color 0.5s ease-in-out;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  overflow: hidden;
}

.box h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.box p {
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: right;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  width: 120px;
  display: block;
  margin-left: auto;
}

button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}